@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:ital@0;1&family=Titillium+Web:ital,wght@1,300&display=swap');



 *{
    margin: 0px;
    padding: 0px;
    box-sizing: 0;
} 
body{
    font-family: 'Poppins', sans-serif;
}
section{
    margin-bottom: 100px;
}
.top div{
    background-image: url(images/donation7.jpg);
    width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-blg1{
    border: 1px solid white ;
}
.top-blg h1{
    color: #FFFFFF;
    font-size: 80px;
    text-align: center;
    margin-top: 15%;
    
}
.top-blg p{
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}
  .btn{
     text-decoration: none;
     display: inline-block;
     background-color: #FF5959;
     color: white;
     font-size: 20px;
     font-weight: 700;
     padding: 20px 30px;
     margin: 20px 45%;
     border-radius: 10px;  
}  
 h2{
    font-weight: 1000;
    font-size: 50px;
    text-align: center;
    color: black;
}
 p{
    font-size: 20px;
    text-align: center;
}
.donate-blg{
    
    margin: 0 25%;
}
.tk{
    margin: 80px 20%;
   
}
.tk h2{
    display: inline-block;
    margin-left: 40px;
    background-color: #FAFAFA;
    padding: 25px 25px;
    color: #707070;
    border-radius: 5%;
}
#tk-200{
    background-color: #FFEEEE;
    border:3px solid #FF5959;
    color: #FF5959;
    
}
.tk p{
    color: #DADADA;
    font-size: 25px;
    margin: 45px 20px;
}
hr{
    border: 1px solid #DADADA;
}
/* .......................................... */



.plan{
    margin: 0 25%;
    margin-bottom: 100px;
}

.items{
      
      display: flex;
      margin: 0 10%;
      
}
.items p{
    text-align: justify;
    margin: 10px;
}
.item-1{
    width: 500px;
    height: 400px;
    background-color: #EDF5F6;
    margin-left: 25px;
    border-radius: 10px;
}
.itm2{
    background-color: #FFEEEE;
}
.itm3{
    background-color: #FFF4D6;
}
.item-1 img{
 margin-top: 40px;
 margin-left: 15px;
}
.img-right{
    background-image: url(images/donation6.jpg);
    background-size: cover;
    width: 100%;
    height: 650px;
    border-radius: 15px;
}
h3{
    font-size: 40px;
    font-weight: 900;
    margin: 10px;
}
.their-live-1{
    display: flex;
}
.their-live-1 h2{
    text-align: left;
    margin: 50px 50px;
}
.their-live-1 p{
    text-align: left;
    margin: 50px 50px;
}
 .btn-left{
    text-decoration: none;
    display: inline-block;
    background-color: #FF5959;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 30px;
    margin: 50px 50px;
    border-radius: 10px;  
}
.their-live-1 div{
      width: 35%;
      margin-left: 10%; 
      margin-bottom: 150px;
}
.their-live-2{
    display: flex;
}
.their-live-2 div{
    width: 35%;
    margin-left: 10%;  
  
}

.img-left{
    background-image: url(images/donation6.jpg);
    background-size: cover;
    width: 100%;
    height: 650px;
    border-radius: 15px;
} 

.their-live-2 h2{
    text-align: left;
    margin: 50px 50px;
}

.their-live-2 p{
    text-align: left;
    margin: 50px 50px;
}

.btn-right{

}
.update div{
    margin: 50px 25%;
}
.update h1{
    font-size: 60px;
    text-align: center;
}
.update p{
    text-align: center;
    font-size: 25px;
}
.email {
    background-color: #FFF4D6;
}
.email input{
 
    margin:100px 30% ;
    padding: 25px 60px;
    background-color:#D9D9D9 ;
    border: none;
    border-radius: 10px 0 0 10px;
}
.email a{
    background-color: #FF5959;
    margin:100px 0 ;
    padding:20px 60px ;
    border-radius: 0 10px 10px 0;
    margin-left: -350px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

footer{
    background-color: #0B0D17;
    height: 350px;
    color: #FF5959;
    text-align: center;
}
footer h1{
    font-size: 50px;
    padding-top: 100px;
}
footer p{
    color: white;
}